@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{

    Layout = "";


    var Root = Model.Root();


}
<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>مكتبة الحرم المكى الشريف</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="icon" type="image/x-icon" href="~/assets/images/favicon.svg">

    <!--====== Magnific Popup CSS ======-->
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">

    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick-theme.css">

    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="~/assets/css/LineIcons.css">

    <!--====== Bootstrap CSS ======-->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!--====== Default CSS ======-->
    <link rel="stylesheet" href="~/assets/css/default.css">

    <!--====== Style CSS ======-->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <link rel="stylesheet" href="~/assets/css/rvfs.css">
    <style>
        body {
            background-image: url('/media/cbycaide/background_catalog.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    </style>

</head>


<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <div id="notfound">
                <div class="notfound-bg"></div>
                <div class="notfound">
                    <div class="notfound-404">
                        <a href="@Root.Url()"><img src="~/assets/images/logo.svg" class="img-fluid"></a>
                        <h1>404</h1>
                    </div>
                    <h2>الصفحة غير موجودة</h2>
                    <h3>Page Not Found</h3>
                    <br />
                    <a class="arrow text-dark" href="@Root.Url()">الرجوع للرئيسية</a>
                </div>
            </div>
        </div>
    </div>

    <!-- End loading screen -->

    <script src="~/assets/js/vendor/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="~/assets/js/slick-news.js"></script>
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.7.1.min.js"></script>
    <script src="~/assets/js/rv-fontsize.js"></script>
    <script src="~/assets/js/store.min.js"></script>
    <!--====== Bootstrap js ======-->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/setting.js"></script>
    <script type="text/javascript">
        clicked = true;
        $(document).ready(function () {
            $(".share-btn").click(function () {
                if (clicked) {
                    $("#floating-social .social-links").css('left', '0px');
                    $(".share-btn").addClass("show-links");
                    $(".share-btn").removeClass("hide-links");
                    clicked = false;
                } else {

                    $("#floating-social .social-links").css('left', '-70px');
                    $(".share-btn").addClass("hide-links");
                    $(".share-btn").removeClass("show-links");
                    clicked = true;
                }
            });
        });


    </script>
    <!--====== Slick js ======-->
    <script src="~/assets/js/slick.min.js"></script>

    <!--====== Magnific Popup js ======-->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>

    <!--====== Ajax Contact js ======-->
    <script src="~/assets/js/ajax-contact.js"></script>

    <!--====== Isotope js ======-->
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>

    <!--====== Scrolling Nav js ======-->
    <script src="~/assets/js/jquery.easing.min.js"></script>
    <script src="~/assets/js/scrolling-nav.js"></script>

    <!--====== Main js ======-->
    <script src="~/assets/js/main.js"></script>
</body>


</html>